body{
  font-family: RobotoMono; 


  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
}

*{
    font-family: RobotoMono;
}